:root{
  /* fonts */
  --heading-main-font: 'Dancing Script', cursive;
  --body-main-font: 'Nanum Myeongjo', serif;
  --article-content-font: 'Josefin Sans', sans-serif;

  /* colors */
  --light-rosegold-color: #F8CEC4;
  --dark-rosegold-color: #CF8E7E;

}

*{
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: var(--body-main-font);
}

header{
  background-color: var(--light-rosegold-color);
}

h1{
  font-size: 2rem;
}

h1,h2,h3{
  font-family: var(--heading-main-font);
  font-weight: 400;
}

h1 strong{
  font-family: var(--heading-main-font);
  font-weight: 900;
  font-size: 2.5rem;
}

.container{
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
}


/* NavBar Styling */

.navbar-container{
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.log-container{
  border-left: 2px solid #fdded7;
  display: flex;
  align-items: center;
}

.logo-image{
  width: 4rem;
  margin: 0 1rem;
}

.logo-name{
  font-family: var(--heading-main-font);
  letter-spacing: 2.5px;
  font-size: 3.5rem;
  color: #FFFFFF;
}

.navbar-list{
  display: flex;
  flex-direction: row;
}

.navbar-listitem{
  list-style: none;
  margin-left: 1.5rem;
}

.navbar-link{
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
}

.navbar-link:hover{
  color: var(--dark-rosegold-color);
}

.navbar-link::after{
  content: '';
  width: 0%;
  height: 2px;
  background: var(--dark-rosegold-color);
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navbar-link:hover::after{
  width: 100%;
}

/* SECTION 1 STYLING */
.section{
  /* border: 1px skyblue solid; */
  height: 95vh;
  min-height: 550px;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.sub-container::after{
  content: '';
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 2px;
  background-color: var(--dark-rosegold-color);
}

.main-header{
  width: 95%;
  text-align: right;
  color: var(--dark-rosegold-color);
  padding-bottom: 1rem;
  border-bottom: 1px var(--dark-rosegold-color) dashed;
}

.article-content{
  flex: 50%;
  font-size: 1.5rem;
  font-family: var(--article-content-font);
  font-weight: 200;
  line-height: 2rem;
  text-align: center;
  padding: 1rem 2rem;
}

.article-body{
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-family: var(--article-content-font);
  margin-bottom: 3rem;
}

.article-body strong{
  font-size: 1.5rem;
  font-family: var(--article-content-font);
  font-weight: 400;
}

.article-image{
  height: 3rem;
  float: left;
  vertical-align: text-top;
}

.article-btn{
  width: 90%;
  height: 2.5rem;
  background-color: #FFFFFF;
  color: var(--dark-rosegold-color);
  border: 1px var(--dark-rosegold-color) solid;
  border-radius: 25px;
  transition: 0.5s;
}

.article-btn:hover{
  background-color: var(--dark-rosegold-color);
  color: #FFFFFF;
  transform: scale(1.05);
  cursor: pointer;
}

.article-subcontent{
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  color: var(--dark-rosegold-color);
  letter-spacing: 4px;
  word-spacing: 10px;
  border-bottom: 1px var(--dark-rosegold-color) dotted;
}

.article-subcontent span{
  font-family: var(--heading-main-font);
  font-weight: 700 italic ;
  font-size: 1.25rem;
  animation: animate 2s linear infinite;
}

@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}

.main-image{
  flex: 50%;
  max-height: 90%;
  width: 80%;
  object-fit: cover;
}

/* SECTION 2 STYLING */
.container:nth-child(2){
  background-image: linear-gradient(#ffffff8f, #fddad38f), url(images/minimal_stuff.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  left: 0;
}

.section-2{
  margin: 0 auto;
  width: 80%;
}

.section2-header{
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.section2-subheading{
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--dark-rosegold-color);
  letter-spacing: 2px;
  font-weight: 700;

}

/* SECTION 3 STYLING */
.section-3{
  justify-content: space-between;
  align-items: center;
}

.card{
  width: 30%;
  box-shadow: 0px 0px 7px var(--dark-rosegold-color);
  border-radius: 10px;
  height: 20rem;
}

.card-image{
  margin: 1rem auto;
  max-width: 5rem;
  border-radius: 45px;
  border: 2px var(--light-rosegold-color) solid;
}

.image-name{
  text-align: center;
  color: var(--dark-rosegold-color);
}

.image-name::after{
  content: '';
  margin: 1rem auto;
  display: block;
  width: 10%;
  height: 1px;
  background-color: var(--dark-rosegold-color);
}

.card-content{
  text-align: center;
  font-family: var(--article-content-font);
  font-weight: 300;
  line-height: 1.5rem;
  border-bottom: 1px var(--light-rosegold-color) solid;
  padding-bottom: 1rem;
}

.section3-header{
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.container:nth-child(3) .section{
  padding-top: 0;
}

/* FOOTER STYLING */
.body-footer{
  height: 10rem;
  background-color: var(--dark-rosegold-color);
  padding: 0 rem;
}

footer .row{
  color: #FFFFFF;
  margin-top: 4rem;
  justify-content: space-between;
}

.pixabay-link{
  text-decoration: none;
  color: #FFFFFF;
}

.pixabay-link:hover{
  text-decoration: underline;
}