:root{
  /* fonts */
  --heading-main-font: 'Dancing Script', cursive;
  --body-main-font: 'Nanum Myeongjo', serif;
  --article-content-font: 'Josefin Sans', sans-serif;

  /* colors */
  --light-rosegold-color: #F8CEC4;
  --dark-rosegold-color: #CF8E7E;

}

*{
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: var(--body-main-font);
}

header{
  background-color: var(--light-rosegold-color);
  box-shadow: 0px 0px 10px #a3a3a3;
}


h1{
  font-size: 2rem;
}

h1,h2,h3{
  font-family: var(--heading-main-font);
  font-weight: 400;
}

h1 strong{
  font-family: var(--heading-main-font);
  font-weight: 900;
  font-size: 2.5rem;
}

.container{
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
}


/* NavBar Styling */

.navbar-container{
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.log-container{
  border-left: 2px solid #fdded7;
  display: flex;
  align-items: center;
}

.logo-image{
  width: 4rem;
  margin: 0 1rem;
}

.logo-name{
  font-family: var(--heading-main-font);
  letter-spacing: 2.5px;
  font-size: 3.5rem;
  color: #FFFFFF;
}

.navbar-list{
  display: flex;
  flex-direction: row;
}

.navbar-listitem{
  list-style: none;
  margin-left: 1.5rem;
}

.navbar-link{
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
}

.navbar-link:hover{
  color: var(--dark-rosegold-color);
}

.navbar-link::after{
  content: '';
  width: 0%;
  height: 2px;
  background: var(--dark-rosegold-color);
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navbar-link:hover::after{
  width: 100%;
}

.navbar-link-current{
  color: var(--dark-rosegold-color);
}

.navbar-link-current::after{
  width: 100%;
}

.fa-bars, .fa-times{
  display: none;
}

/* SECTION 1 STYLING */
.section{
  /* border: 1px skyblue solid; */
  min-height: 550px;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.sub-container::after{
  content: '';
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 2px;
  background-color: var(--dark-rosegold-color);
}

.main-header{
  width: 95%;
  text-align: right;
  color: var(--dark-rosegold-color);
  padding-bottom: 1rem;
  border-bottom: 1px var(--dark-rosegold-color) dashed;
}

.article-content{
  flex: 50%;
  font-size: 1.5rem;
  font-family: var(--article-content-font);
  font-weight: 200;
  line-height: 2rem;
  text-align: center;
  padding: 1rem 2rem;
}

.article-body{
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-family: var(--article-content-font);
  margin-bottom: 3rem;
}

.article-body strong{
  font-size: 1.5rem;
  font-family: var(--article-content-font);
  font-weight: 400;
}

.article-image{
  height: 3rem;
  float: left;
  vertical-align: text-top;
}

.article-btn{
  width: 90%;
  height: 2.5rem;
  background-color: #FFFFFF;
  color: var(--dark-rosegold-color);
  border: 1px var(--dark-rosegold-color) solid;
  border-radius: 25px;
  transition: 0.5s;
}

.article-btn:hover{
  background-color: var(--dark-rosegold-color);
  color: #FFFFFF;
  transform: scale(1.05);
  cursor: pointer;
}

.article-subcontent{
  width: 100%;
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  color: var(--dark-rosegold-color);
  letter-spacing: 4px;
  word-spacing: 10px;
  border-bottom: 1px var(--dark-rosegold-color) dotted;
}

.article-subcontent span{
  font-family: var(--heading-main-font);
  font-weight: 700 italic ;
  font-size: 1.25rem;
  animation: animate 2s linear infinite;
}

@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}

.main-image{
  flex: 50%;
  margin-bottom: 2rem;
  max-height: 90%;
  width: 80%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.7;
}

/* SECTION 2 STYLING */
 body .container:nth-child(2), .aboutme-container{/*aboutme-container is about me page styling */
  background-image: linear-gradient(#ffffff8f, #fddad38f), url(images/minimal_stuff.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  left: 0;
}

.aboutme-container{
  background-image: linear-gradient(#ffffff8f, #fddad38f), url(images/minimal_stuff.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  left: 0;
}

.section-2{
  margin: 0 auto;
  width: 80%;
}

.section2-header{
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.section2-subheading{
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--dark-rosegold-color);
  letter-spacing: 2px;
  font-weight: 700;

}

.container:nth-child(2) .section{
  height: auto;
}

/* SECTION 3 STYLING */
.section-3{
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.card{
  margin: auto 0;
  flex: 0 1 25%;
  min-width: 219px;
  max-width: 250px;
  box-shadow: 0px 0px 7px var(--dark-rosegold-color);
  border-radius: 10px;
  height: 20rem;
}

.card-image{
  margin: 1rem auto;
  max-width: 5rem;
  border-radius: 45px;
  border: 2px var(--light-rosegold-color) solid;
}

.image-name{
  text-align: center;
  color: var(--dark-rosegold-color);
}

.image-name::after{
  content: '';
  margin: 1rem auto;
  display: block;
  width: 10%;
  height: 1px;
  background-color: var(--dark-rosegold-color);
}

.card-content{
  text-align: center;
  font-family: var(--article-content-font);
  font-weight: 300;
  line-height: 1.5rem;
  border-bottom: 1px var(--light-rosegold-color) solid;
  padding-bottom: 1rem;
}

.section3-header{
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.container:nth-child(3) .section{
  padding-top: 0;
}

/* CONTACT ME PAGE STYLING */
.contact-me-heading{
  text-align: left;
  margin-bottom: 2rem;
}

.text-field{

  display: block;
  margin: 1rem 0;
  width: 90%;
  padding: 0.5rem;
  border: none;
  color: var(--dark-rosegold-color);
  outline: 3px rgb(218, 215, 215) solid;
  transition: 0.5s;
  resize: none;
}

.text-field:focus{
  color: black;
  outline: 3px var(--dark-rosegold-color) solid;
}

.contact-me-btn{
  float: left;
  width: 95%;
  margin-top: 2rem;
}

.contact-me-image{
  max-height: 500px;
}

/* BLOGS PAGE STYLING */

.blogs-row{
  gap: 3rem;
}

.blogs-article-content{
  padding: 0;
  margin: 1rem 0;
}

.blogs-article-content .main-header{
  text-align: left;
  padding: 0.5rem;
}

.blogs-article-content:nth-child(1){
  flex: 60%;
}

.blogs-article-content:nth-child(2){
  flex: 35%;
  border: 1px #fdece7 solid;
  box-shadow: 0px 0px 5px #fdece7;
  text-align: left;
  padding: 0 2rem;
  border-radius: 3px;
}

.article-list{
  line-height: 2rem;
}

.article-list-item{
  list-style: lower-roman;
  transition: 0.1s;
}

.article-list-item a{
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: 0.1s;
}

.article-list-item:hover{
  color: var(--dark-rosegold-color);
}

.article-list-item:hover a{
  color: var(--dark-rosegold-color);
  text-decoration: underline;
}

/* BLOGS STRUCTURE STYLING */

.blog-heading{
  font-size: 2.25rem;
  position: relative;
}

.blog-heading::after{
  content: '';
  display: block;
  height: 3px;
  width: 200px;
  position: absolute;
  left: calc(50% - 100px);
  background-color: var(--light-rosegold-color);
  margin-top: 2rem;

}

.article-content P{
  width: 90%;
  font-size: 1.25rem;
  margin: 2rem auto;
  line-height: 2rem;
  text-align: justify;
}

/* FOOTER STYLING */
.body-footer{
  background-color: var(--dark-rosegold-color);
  padding: 2rem;
}

footer .container{
  margin: 3rem auto;
}

footer .row{
  width: 100%;
  color: #FFFFFF;
  justify-content: space-between;
  gap: 2rem;
}

.socials-icon{
  margin: 0.5rem 1rem;
}

.socials-icon:first-child{
  margin-left: 0;
}

.socials-icon:last-child{
  margin-right: 0;
}

.socials-link{
  position: relative;
}

.socials-link .fa{
  color: black;
  font-size: 1.5rem;
  transition: 0.3s;
}

.socials-link:hover .fa{
  color: var(--light-rosegold-color);
  transform: translateY(-5px) scale(1.5);

}

.pixabay-link{
  text-decoration: none;
  color: #FFFFFF;
}

.pixabay-link:hover{
  text-decoration: underline;
}

/* MEDIA QUERIES */
@media (max-width: 1015px) {
  
  .container:nth-child(3) {
    width: 90%;
  }

  header .row{
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .log-container{
    margin: 2rem 0;
    border: none;
  }

  .navbar{
    margin-bottom: 1rem;
  }
}

@media (max-width: 895px) {
  .container{
    width: 90%;
  }

  .container:nth-child(3){
    width: 80%;
  }
  
  .article-body,.article-content,.article-body strong {
    font-size: 1.25rem;
  }
}

@media (max-width: 700px){

  .row{
    flex-direction: column;
  }

  .main-header{
    text-align: center;
  }
  
  .main-image{
    margin: 0 auto;
    max-width: 30rem;
  }
}

@media (max-width: 600px) {

  .container{
    width: 95%;
  }

  .blogs-container{
    width: 90%;
  }

  .section-2 .article-content{
    padding: 1rem 0;
  }

  .article-content p{
    width: 100%;
    font-size: 1.15rem;
  }
  
}

@media (max-width: 500px){
  .navbar{
    background-color: var(--light-rosegold-color);
    position: fixed;
    top: 0;
    bottom: 0;
    right: -200px;
    width: 450px;
    height: 100%;
    transition: 0.7s;
    transition-timing-function: cubic-bezier(.36,-0.42,.38,1.64);
    transform: translateX(100%);
  }

  .navbar-show{
    transform: translateX(0);
  }

  .navbar-list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px #FFFFFF dashed;
  }

  .navbar-listitem{
    width: 100%;
    border-bottom: 1px #FFFFFF solid;
    padding-bottom: 1rem;
  }

  .navbar-link{
    position: relative;
    width: 100%;
  }

  .navbar-link::after{
    content: '';
    display: inline;
    position: absolute;
    background-color: transparent;
    top: -1rem;
    left: 0;
    height: calc(100% + 1.5rem);
    width: 400px;
  }

  .navbar-link:hover::after{
    width: 400px;
  }

  .fa-bars{
    display: block;
    margin-right:10px;
    margin-bottom: 10px;
    font-size: 1.25rem;
    color: #FFFFFF;
    float: right;
  }

  .fa-times{
    display: block;
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 50%;
    text-align: right;
    margin-bottom: 1rem;
  }

  .fa-bars:active, .fa-times:active{
    color: var(--dark-rosegold-color);
    transform: scale(0.9);
  }

  footer .row{
    gap: 2rem;
  }

}